<header>
    <div class="left-menu">
        <a href="home"><img src="image/logo.png" alt="Home"></a>
        <a href="tutorials">Tutorials</a>
        <a href="vocabulary">Vocabulary</a>
        <a href="#">Exercise</a>
        <a href="#">Statistics</a>
    </div>

    <div class="search-box">
        <input type="text" placeholder="Search ...">
        <i class="fas fa-search search-icon"></i>
    </div>

    <div class="auth-buttons">
        <a href="/register?action=register" class="register-btn">Register</a>
        <a href="/login?action=login" class="login-btn">Login</a>
    </div>
</header>